.Main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align : center;
  text-decoration : underline;
  border : solid 10px white;
  background-color:orangered;
  padding : 3rem;

  border-radius: 2rem;

  box-shadow: 5rem;
}

.Body {
  background:linear-gradient(90deg, orange, orangered,dodgerblue)
}

#container {
  text-align : center;
  font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:50px;
  padding : 3rem;
  border : solid 10px orangered;
  border-radius : 4rem;

  background-color:whitesmoke;
  text-decoration:underline;
}

#container:hover {
  font-size:60px;
  color : white;
  background-color : dodgerblue;
  transition : all .4s ease-in-out;
}

#on {
  text-align:center;
  padding : 1rem;
  border:solid 10px white;
  border-radius:3rem;
  cursor:crosshair;
  font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:16px;
  margin-left:270px;
  background-color:orange;
}
#on:hover {
  background-color:dodgerblue;
  color:white;
  font-size:20px;
  transition: all 0.4s ease-in-out;
}

.all {
   border : solid 10px white;
   border-radius : 3rem;
   margin-left : 300px;
   margin-right : 300px;
   padding : 5rem;
   background-color: darkviolet;
   box-shadow: black;
}
